html,
body
{
    font-family: 'Calibri', sans-serif;

    display: flex;
    flex-direction: column;
    background-color: rgb(27,27,27);
    color: rgb(153,153,153)
}
h1,h2{
  color: rgb(231,231,231);

}
a{
    font-size: 30px;
    width: 80%;
    text-decoration: none;
    color: rgb(12,197,235);
}
a .image{
  width: 100%;
}
button{
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  background-color: rgb(27,27,27);
  border: 2px solid rgb(205,205,205);
  color: rgb(205,205,205);
  border-radius: 20px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;

}
button:hover{
  background-color: rgb(205,205,205);
  color: rgb(27,27,27);
}
.uploader{
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  background-color: rgb(27,27,27);
  border: 2px solid rgb(205,205,205);
  color: rgb(205,205,205);
  border-radius: 20px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#file_upload{
  display: none;
}
input[type=submit]{
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
  background-color: rgb(27,27,27);
  border: 2px solid rgb(205,205,205);
  color: rgb(205,205,205);
  border-radius: 20px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}



.container
{

    display: flex;
    flex-direction: column;
    background-color: rgb(43,43,43);

    width: 60%;
    margin-bottom: 5%;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;

    /*border-style: outset;*/

    align-items: center;

}

.header-container
{
    /*box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);*/
    display: flex;
    flex-direction: column;

    width: 60%;
    margin-bottom: 2%;
    margin-left: 20%;

    /*border-style: outset;*/
    background-color: rgb(43,43,43);

    align-items: center;
}

.image
{
    width: 80%;

}

.text
{
    font-size: 14px;
        display: flex;
    flex-direction: column;

    width: 80%;
    padding-top: 10px;
    padding-bottom: 25px;
}

.header-text
{
    width: 80%;
    padding: 10px;
}

.project-by
{
    font-size: 10px;
}

.gallery
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    align-items: center;
            flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.gallery_item
{
    display: flex;
    margin: 10px;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

.gallery_title{
  width: 80%;
}

.submission_box
{
  /*background-color: rgb(27,27,27);*/
    /*border: 3px solid rgb(70,160,245);*/
    /*color: rgb(12,197,235);*/
    /*border-radius: 4px;*/
    /*background-color: rgb(0,29,39);
    border: 3px solid rgb(12,197,235);
    color: rgb(12,197,235);*/
    position: fixed;
    top: 9px;
    right: 10px;

    width: 200px;
    height: 200px;
    padding: 20px;

    /*display: flex;
    flex-direction: column;*/
    /*justify-content: center;*/

}
.navigation
{
    /*background-color: rgb(0,29,39);*/
    /*border: 3px solid rgb(12,197,235);*/
    /*border: 3px solid rgb(70,160,245);*/
    /*background-color: rgb(27,27,27);*/
    /*color: rgb(12,197,235);*/
    border-radius: 4px;
    position: fixed;
    top: 9px;
    left: 10px;

    width: 200px;
    height: 200px;
    padding: 20px;

    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}
.action_list
{
    display: flex;
    flex-direction: column;

    width: 80%;
    /*color: blue;*/

    align-items: center;
    justify-content: center;
    align-items: flex-start;
            flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(41,41,41)

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(71,71,71)
}
