html,
body
{
    font-family: 'Roboto Mono', sans-serif;

    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
}
a{
    font-size: 30px;
    width: 80%;
    text-decoration: none;
    color: red;
}
a .image{
  width: 100%;
}
button{
  border-style: outset;

}

.container
{
    /*box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);*/
    display: flex;
    flex-direction: column;

    width: 60%;
    margin-bottom: 5%;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;

    border-style: outset;
    background-color: white;

    align-items: center;
}

.header-container
{
    /*box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);*/
    display: flex;
    flex-direction: column;

    width: 60%;
    margin-bottom: 2%;
    margin-left: 20%;

    border-style: outset;
    background-color: white;

    align-items: center;
}

.image
{
    width: 80%;
}

.text
{
    font-size: 14px;

    width: 80%;
    padding-top: 10px;
    padding-bottom: 25px;
}

.header-text
{
    width: 80%;
    padding: 10px;
}

.project-by
{
    font-size: 10px;
}

.gallery
{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    align-items: center;
            flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.gallery_item
{
    display: flex;
    margin: 10px;
    flex-direction: column;

    width: 40%;

    align-items: center;
}
.gallery_title{
  width: 80%;
}

.submission_box
{
    position: fixed;
    top: 9px;
    right: 10px;

    width: 200px;
    height: 80px;
    padding: 20px;

    border-style: outset;
}
.action_list
{
    display: flex;
    flex-direction: column;

    width: 80%;

    align-items: center;
    justify-content: center;
    align-items: flex-start;
            flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
